/* ===================================================== 
Import CSS files
===================================================== */
@import url('./config.css');

/* ===================================================== 
Web fonts
===================================================== */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto+Mono:700');

/* ===================================================== 
HTML Tag Styles
===================================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;

  background: url("../assets/hexgrey-bg.jpg") no-repeat center top,
              var(--grey);
}

h2 {
  font-size: 1.4em;
}

h4 {
  font-size: var(--lp-fontsize);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100px;
}

button {
  display: block;
  margin: 0 auto;
}

/* ===================================================== 
Component Styles
===================================================== */

/* ========================== 
Intro Card
============================= */
#root {
  height: 100vh;
}

.container {
  color: var(--white, white);
  font-size: 1.2em;

  background-color: var(--black);
  border-radius: 1em;
  width: 60%;
  min-width: 380px;
  max-width: 550px;
  height: 400px; 
  text-align: center;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.card-header {
  margin-top: 1.2em;
}

.card-header h2 {
  margin-bottom: 2.5em;
}

#players-input-form {
  margin-top: 1em;
  font-family: 'Didact Gothic', sans-serif;
}
#players-input-form input[type=text] {
  margin-bottom: 2em;
  height: 4em;
  width: 13.5em;
  border: solid 2px var(--yellow);
  border-radius: 2em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

#players-input-form input[type=text]::-webkit-input-placeholder {
  font-size: 1.3em;
}

#players-input-form input[type=text]:focus {
  background-color: var(--lightyellow);
}

#players-input-form input[type=text]:first-child {
  margin-right: 4em;
}

#players-input-form button {
  padding: 0.2em 2.2em;
  border-radius: 0.6em;
  background-color: transparent;
  border: 2px solid var(--yellow);
  color: var(--yellow);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  
  transition: color 500ms ease-in-out,
              box-shadow 500ms ease-in-out;
  
}

#players-input-form button:hover,
#players-input-form button:focus {
  color: var(--white, white);
  box-shadow: 0 0 40px 40px var(--yellow) inset;
  
}

/* ========================== 
Dueling Styles - Header
============================= */

.duel-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: var(--black);
  color: var(--yellow);
  font-size: 0.7em;
  text-transform: capitalize;
  height: var(--header-height);
}

.duel-container header img {
  margin-left: 2em;
  height: var(--image-height);
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1.2em;
}

header ul li {
  border: 1px solid var(--yellow);
  border-radius: 0.6em;
  cursor: pointer;
  padding: 0.3em 0em;
}

header ul li:nth-child(1),
header ul li:nth-child(2) {
  margin-bottom: 0.1em;
}

header ul li:hover,
header ul li:focus {
  color: var(--white);
  background-color: var(--yellow);
}

.duel-container a {
  padding: 2.6px 2px;
}

.active {
  color: var(--white);
  background-color: var(--yellow);
  border-radius: inherit;
}



/* ========================== 
Dueling Styles - Duelist
============================= */

.duel-board {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 4em; /* remove header problem */
  max-width: var(--score-boardmw);
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
}
.duel-board span {
  font-size: 5em;
}
.vs-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 6em;
}

.player span {
  background: url("../assets/name-plate.svg") no-repeat;
  background-size: cover;
  display: block;
  height: var(--nameplate-h);
  cursor: pointer;
  
  text-transform: uppercase;
  text-align: center;

  font-size: var(--player-fontsize);
  line-height: var(--playertag-lh);
}

.scores {
  display: flex; 
  align-items: center;
  margin-top: 20px; /* change */

}
.scores img {
  height: 1.5em;
  cursor: pointer;
}
.scores p {
  font-size: 2em;
  text-transform: uppercase;
  align-self: flex-start;
}
.scores h4 {
  text-align: right;
  width: var(--lp-width);
}

.lp-btns {
  margin-top: 1em;
  display: flex;
}
.lp-btns button {
  text-transform: uppercase;
  color: var(--white);
  padding: 1em;
  font-size: 0.7em;
  cursor: pointer;
  letter-spacing: 1px;

  transition: 150ms linear;
}
.lp-btns button:nth-child(1) {
  background-color: var(--lightred);
  border: solid 1px var(--red);
  box-shadow: 0 1px 0 var(--red),
              1px 2px 3px var(--red);
}
.lp-btns button:nth-child(2) {
  background-color: var(--lightorange);
  border: solid 1px var(--orange);
  box-shadow: 0 1px 0 var(--orange),
              1px 2px 3px var(--orange);
}
.lp-btns button:hover,
.lp-btns button:focus,
.lp-btns button:active {
  color: var(--lightred);
  text-shadow: -1px -1px 0 var(--red);
}
.lp-btns button:last-child:hover,
.lp-btns button:last-child:focus,
.lp-btns button:last-child:active {
  color: var(--lightorange);
  text-shadow: -1px -1px 0 var(--orange);
}

/* ========================== 
Yu-Gi-Oh Dueling Rules Styles
============================= */
.rulebook-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rulebook-page {  
  margin-bottom: 0.5em;
}

/* ========================== 
How to use App Styles
============================= */

.appguide {
  padding: 1em;
  max-width: 400px;
  margin: 0 auto;
}
.appguide div {
  margin-bottom: 2em;
}
.appguide h1,
.appguide h2 {
  text-align: center;
  margin-bottom: 0.5em;
}
.appguide h1 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase; 
}
.appguide h2 {
  font-size: 1.2em;
}
.appguide ul > li,
.appguide img {
  margin-bottom: 1em;
}
.appguide span {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--red);
}
.appguide img {
  width: 350px;
  height: 300px;
  display: block;
  margin: 0 auto 2em;
  border: 2px solid var(--black);
  border-radius: 0.6em;
}












/* ===================================================== 
Media Queries
===================================================== */

@media (min-width: 500px) {
  /* ========================== 
  Dueling Styles - Header
  ============================= */
  header ul {
    flex-direction: row;
    align-items: center;

    font-size: 1.24em;
  } 
  header ul li {
    margin-left: 0.4em;
  } 
}

@media (min-width: 700px) {
  /* ========================== 
  Dueling Styles - Header
  ============================= */
  :root {
    --image-height: 60px;
    --header-height: 8em;
  }
  
  header ul  {
    font-size: 1.5em;
  }

  /* ========================== 
  Dueling Styles - Duelist
  ============================= */
  .duel-board {
    flex-direction: row;
  }

  .appguide {
    display: flex;
    max-width: 1000px;
  }
  .appguide div {
    flex: 1;
  }
}


@media (min-width: 1100px) {
  /* ========================== 
  Dueling Styles - Header
  ============================= */
  :root {
    --image-height: 70px;
    --score-boardmw: 1000px;
    --player-fontsize: 2.5em;
    --lp-fontsize: 8em;
    --lp-width: 307px;
    --nameplate-h: 70px;
    --playertag-lh: 70px;
  }

  

  /* ========================== 
  Dueling Styles - Duelist
  ============================= */

}

@media (min-width: 1400px) {
  /* ========================== 
  Dueling Styles - Header
  ============================= */
  :root {
    --score-boardmw: 1200px;
    --player-fontsize: 3.0em;
    --lp-fontsize: 9em;
    --lp-width: 346px;
    --nameplate-h: 78px;
    --playertag-lh: 75px;
  }
}
