/* This CSS style sheets is structured 
around BEM — Block Element Modifier */

/*--------  import CSS style sheet  ---------*/
@import url('./config.css');

/*----------  import google fonts  ----------*/
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans:400,400i,600,700');


/*=============================================
=                   BASE                      =
=============================================*/
* {
  box-sizing: border-box;
}

html {
  background: var(--gallery-grey);                            
}

body {
  font-family: 'Fugaz One', cursive;
  font-size: 16px;
  line-height: 1;
}
button {
  font-family: inherit;
  color: white;
}

h1, button, li, input {
  text-transform: uppercase;
  color: white;
}

p, input {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 5.2rem;
  color: var(--bright-sun); 
  text-shadow: 0 -1px 0 #ffbf37, 
               0 1px 0 #080808, 
               0 2px 0 #000, 
               0 3px 0 #020001, 
               0 4px 0 #120107, 
               0 5px 0 #22030e, 
               0 6px 0 #310415, 
               0 7px 0 #41051b, 
               0 8px 0 #510622, 
               0 9px 0 #610828, 
               0 10px 0 #70092f, 
               0 11px 0 #800a36, 
               0 12px 0 #900b3c, 
               0 13px 0 #a00d43, 
               0 14px 0 #af0e49, 
               0 15px 0 #bf0f50;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
h3 {
  font-size: 2em;
}
h4 {
  text-transform: uppercase;
}
h6 {
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.25;
}

li {
  font-size: 1rem;
}

strong {
  font-weight: 700;
}

img {
  height: 55px;
  cursor: pointer;
}

hr {
  margin-top: 1em;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 2px; 

  background-color: transparent;
  border: none;
}


/*-----------------  helpers ----------------*/
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.container {
  width: 100%;
}
.parallelogram::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform: skewX(-20deg)
}
.parallelogram-blue::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 3px solid var(--biscay);
  background-color: var(--biscay-light);
  transform: skewX(-10deg);
}

.active {
  color: var(--bright-sun);
}
/*=============================================
=                   COMMON                    =
=============================================*/
/*----------  introduction section ----------*/
.intro {
  padding: 1em 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.intro::before {
  background: var(--alto);
}
.intro__title {
  margin-bottom: 3em;
}
.intro__title--sub {
  font-size: 3rem;
}
.intro > h2, .intro > p, 
.intro__form > fieldset {
  margin-bottom: 1em;
}
.intro__form--input {
  padding: 0.8em 1.2em;
  width: 150px;
  border: 2px solid var(--shark);
  border-top: none; border-left: none; border-right: none;
  background-color: rgba(30, 35, 38, 0.4);
  outline: none;

  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}
.intro__form--input.first {
  margin-right: 1em;
}
.intro__form--submitbtn {
  color: white;
  padding: 0 1em;
  border: 1px solid var(--shark);
  border: 2px solid var(--shark);
  background-color: var(--shark-light);
}

/*-------------  dueling header -------------*/
.header {
  text-align: center;
  background-color: var(--alto);
  padding: 0.5em 0 1em 0;
  margin-bottom: 3em;

  position: relative;
}
.header > h1 {
  font-size: 2rem;
}
.header__burger {
  position: absolute;
  top: 50%; 
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header__burger--inner {
  position: relative;
  height: 22px;
  width: 30px;
}
.header__burger--inner > span {
  position: absolute;
  display: block;
  height: 4px;
  width: 30px;
  background: var(--bright-sun);
}
.header__burger--inner .top { top: 0; }
.header__burger--inner .middle { top: 9px; }
.header__burger--inner .bottom { bottom: 0; }
.header__nav {
  position: absolute;
  top: 0; left: 8px;
}
.header_nav--listItem {
  margin-bottom: 0.2em;
  padding: 0.8em 1em;
  color: black;
  position: relative;
  z-index: 1;
}
.header_nav--listItem::before {
  border: 3px solid var(--bright-sun);
  background-color: var(--bright-sun-light);
}
.header__nav--close {
  display: block;
  cursor: pointer;
  color: var(--bright-sun);
  font-weight: 700;
  text-align: left;
  font-size: 3em;
  padding: 4px 0;
  padding-left: 12px; 
}

/*----------------  dueslists ---------------*/
.duelboard {
  color: white;
}
.duelists {
  display: flex;
  justify-content: space-between;
}
/*------------  dueslist name ---------------*/
.duelist {
  width: 100%;
  overflow: hidden;
}
.duelist__name {
  position: relative;

  margin-bottom: 0.3em;
  padding: 0.5em 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--duelist-name-fontsize);
  letter-spacing: 2px;

  border: 3px solid var(--biscay);
  border-left: none;
  background-color: var(--biscay-light);
}

.duelist__name--input {
  font-size: 1em;
  background-color: var(--biscay);
  border: none;
  width: 85%; height: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

.duelist:last-child {
  margin-left: 0.5em;
}
.duelist:last-child .duelist__name {
  border: 3px solid var(--jazzberry-jam);
  border-right: none;
  background-color: var(--jazzberry-jam-light);
}
.duelist:last-child .duelist__name--input {
  background-color: var(--jazzberry-jam);
}
/*-------------  dueslist bar ---------------*/
.duelist__bar {
  
  border: 3px solid var(--biscay);
  border-bottom: none;
  background: transparent;
}
.duelist__bar--lifepoints {
  height: 0.5em;
  width: 100%; 
}

.duelist:first-child > .duelist__bar {
  border-left: none;
}
.duelist:first-child .duelist__bar--lifepoints {
  background: repeating-linear-gradient(-45deg,
                                        var(--biscay-light), var(--biscay-light) 5px,
                                        var(--biscay-lighter) 0, var(--biscay-lighter) 10px);
}

.duelist:last-child > .duelist__bar { 
  border-color: var(--jazzberry-jam);
  border-right: none;
  background-color: transparent;
}
.duelist:last-child .duelist__bar--lifepoints {
  background: repeating-linear-gradient(45deg,
                                        var(--jazzberry-jam-light), var(--jazzberry-jam-light) 5px,
                                        var(--jazzberry-jam-lighter) 0, var(--jazzberry-jam-lighter) 10px);
  margin-left: auto;
}

/*---------  dueslist lifepoints ------------*/
.duelist__lifepoints {
  position: relative;

  margin-bottom: 0.5em;
}
.duelist__lifepoints::before {
  right: 5px; left: -10px;
}

.duelist__lifepoints--wrapper {
  padding: 0.8em 0;
  position: relative;
  text-align: center;
}
.duelist__lifepoints--wrapper > h2 {
  position: absolute;
  top: 10px; left: 10px;
}
.duelist__lifepoints--wrapper > h3 {
  font-size: var(--duelist-lifepoints-fontsize);
}


.duelist:last-child .duelist__lifepoints::before {
  transform: skewX(10deg);
  left: 5px; right: -10px;
  border: 3px solid var(--jazzberry-jam);
  background-color: var(--jazzberry-jam-light);
}
.duelist:last-child .duelist__lifepoints--wrapper > h2 {
  left: unset; right: 10px;
}

/*----  dueslist undo/calcualate buttons ----*/
.duelist__btns {
  display: flex;
  justify-content: space-between;
}
.duelist__btns > button {
  position: relative;
  width: 100%;
  color: inherit;
  text-align: center;
  font-size: 1em;
  padding: 0.5em 0;
}
.duelist__btns--undo::before {
  left: -10px; right: 10px;
}
.duelist__btns--calculate::before {
  right: 15px; left: 0px; 
}

.duelist:last-child .duelist__btns {
  flex-direction: row-reverse;
}

.duelist:last-child .duelist__btns > button::before {
  transform: skewX(10deg);
  border: 3px solid var(--jazzberry-jam);
  background-color: var(--jazzberry-jam-light);
}
.duelist:last-child .duelist__btns--calculate::before {
  left: 15px; right: 0px; 
}
.duelist:last-child .duelist__btns--undo::before {
  right: -10px; left: 10px;
}

/*------------------  banner ----------------*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
  text-align: center;
  font-size: 1.5em;
}
.banner__wincount, .banner__clock {
  width: 100%;
  padding: 0.5em;
  background-color: greenyellow;
  cursor: pointer;
}
.banner__clock {
  margin: 0 0.5em;
  border: 3px solid var(--shark);
  background-color: var(--shark-light);
}
.banner__wincount {
  border: 3px solid var(--biscay);
  background-color: var(--biscay-light);
}

.banner__wincount:first-child {
  border-left: none;
}
.banner__wincount:last-child {
  border: 3px solid var(--jazzberry-jam);
  border-right: none;
  background-color: var(--jazzberry-jam-light);
}

/*----------------  features ----------------*/
.features {
  padding: 1em 0;
  text-align: center;
  margin: 1em 0;
}

.features__arrow {
  display: block;
  width: 50px; 
  height: 50px;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.6em;
  cursor: pointer;

  background-color: var(--shark-light);
  border: 3px solid var(--shark);
  border-radius: 100%;
}
.features__arrow.up {
  transform: rotate(180deg);
}
.features__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  margin-top: 1.5em;
  padding: 0.5em 0;
  box-shadow: inset 0 3px 4px rgba(206, 206, 206, 0.5),
              inset 0 -3px 4px rgba(206, 206, 206, 0.5);
  background: linear-gradient(var(--alto), var(--gallery-grey));
}


/*---------------  calculator ---------------*/
.calculator {
  font-family: 'Open Sans', sans-serif;
  width: 100%; height: 100%;
  background-color: var(--shark);
}
.calculator__inputscreen {
  background-color: var(--shark);
  width: 100%;
  height: 150px;
  border: none;
  text-align: right;
  padding: 1em;
  font-size: 1.5em;
}
.calculator__btns {
  height: 350px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.calculator__btns > button {
  font-size: 1rem;
}
.calculator__btns .sym {
  background-color: var(--shark-light);
  border-radius: 100%;
}
.calculator__btns .sym,
.calculator__btns .num {
  width: 50px; height: 50px;
}

/*-------------------  dice -----------------*/
.dice {
  cursor: pointer;
}

/*-------------  timer settings -------------*/
.timersettings {
  /* background-color: var(--shark); */
  color: white;
  padding: 0.5em;
}
.timersettings__clock {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
}
.timersettings__controls {
  font-family: 'Open Sans', sans-serif;
  
}
.timersettings__controls--plusminus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.timersettings__controls--plusminus > button {
  background-color: var(--shark-light);
  border-radius: 100%;
  height: 50px; width: 50px;
}
.timersettings__controls--startstop,
.timersettings__controls--reset {
  margin-bottom: 0.5em;
  background-color: var(--shark-light);
  border-radius: 100px;
  padding: 0.2em 1em;
}

/*-------------------  log ------------------*/
.log {
  color: white;
  height: 100%;
  padding: 1em;
}
.log__list > li {
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  margin-bottom: 0.8em;
}

/*---------------  winner modal -------------*/
.winnermodal {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.winnermodal > h1 {
  font-family: 'Fugaz One', cursive;
  margin: 1em 0;
}
.winnermodal__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.winnermodal__btns > button {
  margin: 1em;
  padding: 0.2em 0.5em;
  background-color: var(--shark-light);
  border-radius: 100px;
}

/*-------------------  coin -----------------*/
.coin__wrapper {
  height: 55px; width: 55px;
 
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;

  position: relative;
  cursor: pointer;
}
.coin__shape, .coin__flip {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.6;
  
  height: 55px; width: 55px;

  background-color: var(--shark-light);
  border: 1px solid var(--shark);
  border-radius: 100%;
}
.coin__flip {
  opacity: 0;
  transition: all 0.5s;
  display: block;
}

.coin-enter {
  transition: all .2s;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.coin-enter-active {
  transform: translate(-50%, -50%) scale(1.3);
}
.coin-leave-active {
  display: none;
}

/*----------------  404 page ----------------*/
.notfound {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 1em;
}
.notfound::before {
  background-color: var(--alto);
}
.notfound__image,
.notfound__content > h2,
.notfound__content > p {
  margin-bottom: 1em;
}

.notfound__image {
  height: 5em; width: 5em;
}
.notfound__content > p {
  text-transform: capitalize;
}
.notfound__content a {
  font-weight: 700;
  text-decoration: underline;
  color: var(--biscay);
}

/*-------------  how to use app -------------*/
.guide {
  padding: 1em 1.5em;
  max-width: 800px;
  margin: 0 auto;
}
.guide__content {
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.guide__content--phrase {
  margin-bottom: 1em;
  text-align: center;
}

.guide > h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: var(--shark);
}
.guide__content span {
  text-decoration: underline;
}
.guide__content p {
  margin-bottom: 0.4em;
}
.guide__content > section > h4 {
  text-decoration: underline;
  margin: 1em 0;
}
.guide__content > section > img {
  width: 100%;
  max-width: 340px;
  height: 100%;
  border: 1px solid var(--shark);
  margin: 1em 0;
}

/*----------------  rulebook ----------------*/
.rulebook {
  width: 100%;
  padding: 0 1em;
  margin-top: 1em;
}
.rulebook__page {
  margin: 0 auto 1em;
}
.rulebook__link {
  margin: 1em;
  text-transform: uppercase;
}
/*-------------  dueling header -------------*/

/*=============================================
=                 MEDIA QUERIES               =
=============================================*/

@media (min-width: 500px) {
  :root {
    --duelist-name-fontsize: 1.8rem;
    --duelist-lifepoints-fontsize: 2.2rem;
  }
}
@media (min-width: 800px) {
  :root {
    --duelist-name-fontsize: 2rem;
    --duelist-lifepoints-fontsize: 2.6rem;
  }
}
@media (min-width: 1000px) {
  :root {
    --duelist-name-fontsize: 2.2rem;
    --duelist-lifepoints-fontsize: 3.0rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --duelist-name-fontsize: 2.4rem;
    --duelist-lifepoints-fontsize: 3.4rem;
  }
}